[submodule "receptor"]
	path = meteo-microbit-receiver
	url = https://github.com/Alelopez4623/meteo-microbit-receiver
[submodule "emisor"]
	path = meteo-microbit-emisor
	url = https://github.com/Alelopez4623/meteo-microbit-emisor
